<h1>Legislator Lookup</h1>

<form>
  <div class="form-group">
    <label for="state">State</label>
    {{input value=state id="state"}}
  </div>

  <button class="btn btn-primary" {{action 'stateLookup'}}>Submit</button>
</form>
